<div class="hero-unit">
	<h1>Welcom To My First Project</h1>

	<p>You are on the Home Page of my project</p>
	This is a link to
	<%= link_to "Fan Page Management", "http://fanpagemanagement.com" %>
	<p></p>
	<%= link_to "Sign Up Now", "#"%>
</div>